#passer-salle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--background-text);

  height: 20%;
  width: 20%;

  p {
    color: var(--font-color-text);
    font-size: var(--font-size-text);
  }

  a {
    text-decoration: none;
    color: var(--font-color-text);
    font-size: var(--font-size-text);
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;

    color: var(--font-color-text);

    cursor: pointer;
  }
}
