:root {
  --bg-accueil: #908972;

  --bg-button: #803d2a;
  --border-button: solid 3px #fbf4ec;
  --shadow-button: 0 0 10px #fbf4ec;
  --font-size-button: 1rem;

  --font-color-maintitle: #ffffff;
  --font-color-title: #ffffff;
  --font-color-text: #ffffff;
  --font-666-color: #e1525f;

  --font-size-maintitle: 7rem;
  --font-size-title: 2rem;
  --font-size-text: 1rem;
  --background-text: #4b4b4b;

  // $font-style-text: A définir;
  // $font-style-subtitle: A définir;
  // $font-style-title: A définir;
  // $font-style-maintitle: CasinoShadow;

  // $font-border-subtitle: A définir;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}
