* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#landing-page {
  background-image: url(../assets/Menu_principal.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;

  position: relative;

  h1 {
    cursor: default;

    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%) translateY(-160%);

    color: var(--font-color-maintitle);
    font-size: var(--font-size-maintitle);

    .seven {
      text-decoration: line-through;
    }

    .seven-to-six {
      .to-six {
        display: none;
      }
    }

    .seven-to-six:hover {
      .seven {
        display: none;
      }

      .to-six {
        display: initial;
        color: var(--font-666-color);
      }
    }
  }

  .scroll-down {
    text-decoration: none;

    height: 64px;
    width: 64px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    text-align: center;
    margin-bottom: 32px;

    img {
      height: 100%;
      width: 100%;

      backdrop-filter: blur(5px);
      border-radius: 50%;
    }
  }
}

#home {
  background-color: var(--bg-accueil);

  padding: 50px 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 100vh;

  .para {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  h2 {
    font-size: var(--font-size-title);
    color: var(--font-color-title);
  }

  p {
    font-size: var(--font-size-text);
    color: var(--font-color-text);
  }

  #launcher {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    a {
      cursor: pointer;

      background-color: var(--bg-button);
      border: var(--border-button);
      box-shadow: var(--shadow-button);
      color: var(--font-color-text);
      font-size: var(--font-size-button);

      border-radius: 12px;
      padding: 5px 20px;
    }
  }
}
