.background-container {
  background-image: url("../assets/SalleNiveau1.png");
  width: calc(1.75 * 100vh);
  height: 100vh;
  background-size: cover;
  margin: auto;
}
// .nav {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;

//   .buttons {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 1rem;
//     padding: 1rem;
//   }
// }
